opencti:
  url: 'https://localhost'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'INTERNAL_ENRICHMENT'
  name: 'Maxmind'
  scope: '' # MIME type or SCO
  confidence_level: 20 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'